body {
  --ck-border-radius: 3px;
  --ck-color-base-background: #fff;
  --ck-color-base-text: transparent;

  --ck-color-button-action-active-shadow: transparent;
  --ck-color-button-default-active-background: #22222214;
  --ck-color-button-default-active-shadow: transparent;
  --ck-color-button-default-background: transparent;
  --ck-color-button-default-disabled-background: transparent;
  --ck-color-button-default-hover-background: rgba(34, 34, 34, 0.08);

  --ck-color-button-on-active-background: rgba(34, 34, 34, 0.08);
  --ck-color-button-on-active-shadow: transparent;
  --ck-color-button-on-background: rgba(0, 55, 183, 0.08);
  --ck-color-button-on-disabled-background: transparent;
  --ck-color-button-on-hover-background: rgba(0, 55, 183, 0.08);

  --ck-color-engine-placeholder-text: rgba(34, 34, 34, 0.48);
  --ck-color-focus-border: #7d8dff;
  --ck-color-link-default: var(--primary);
  --ck-color-list-button-on-background-focus: var(--ck-color-button-on-hover-background);
  --ck-color-list-button-on-background: var(--ck-color-button-on-background);
  --ck-color-list-button-on-text: #5e5e5e;
  --ck-color-switch-button-inner-shadow: transparent;
  --ck-color-text: #5e5e5e;
  --ck-color-toolbar-background: #ffffff;
  --ck-color-toolbar-border: #C7C7C7;
  --ck-color-widget-hover-border: #ebeaea;

  --ck-drop-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.08),
    0px 8px 10px 1px rgba(0, 0, 0, 0.08), 0px 3px 14px 2px rgba(0, 0, 0, 0.08);
  --ck-focus-ring: none;

  --ck-font-size-base: 14px;
  --ck-inner-shadow: none;
  --ck-line-height-base: 1.8;
  --ck-ui-component-min-height: 20px;
  --ck-font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "微软雅黑", sans-seri, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* slide z-index 1201 */
  --ck-z-modal: 1202;

  --ck-balloon-arrow-offset: 0;
  --ck-color-widget-blurred-border: #d2d1d0;
  --ck-color-focus-border: #338FE5;
}

/* classic editor border */
.ck.ck-editor {
  background-color: #fff !important;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px var(--gray-10);
}

.ck.ck-editor.ck-focused {
  box-shadow: 0 0 0 1px #338FE5;

}

.ck.ck-editor__editable.ck-content {
  /* inline editor border */
  /* --ck-inner-shadow: 0 0 0 1px #00C3D7; */
  box-shadow: 0 0 0 1px #338FE5;

  padding: 8px;
  border: none;
  box-shadow: none;
  overflow-y: auto;
  border-radius: var(--border-radius) !important;
}

.ck-placeholder {
  color: var(--gray-80);
}

.ck.ck-editor__editable.ck-content.ck-blurred:hover {
  box-shadow: 0 0 0 1px var(--primary);
}

/* ignore widget outline when editor blurred */
.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected {
  outline: none;
}

/* hide widget around button when editor blurred  */
.ck-editor__editable.ck-blurred .ck-widget__type-around {
  display: none;
}

/* hide link background color when editor blurred  */
.ck-editor__editable.ck-blurred .ck-link_selected {
  background: transparent;
}

.ck .ck.ck-editor__main>.ck-editor__editable {
  padding: 4px 6px 6px;
  border: none !important;
  box-shadow: none !important;
}

.ck.ck-editor__editable_inline.ck-content>*:first-child {
  margin-top: 0;
}

.ck.ck-editor__editable_inline.ck-content>*:last-child {
  margin-bottom: 0;
}

.ck .ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
  box-shadow: 0 1px 0 #d0d7d8;
}

.ck .ck.ck-toolbar {
  height: 36px;
  padding: 0 6px;
  box-sizing: border-box;
  border-color: transparent;
}

.ck .ck.ck-toolbar.ck-toolbar_vertical {
  height: auto;
}

.ck .ck.ck-toolbar>.ck-toolbar__items>* {
  margin-right: 5px;
}

.ck .ck.ck-toolbar .ck.ck-toolbar__separator {
  margin: 12px 4px 12px 2px;
  height: 18px;
}

.ck .ck.ck-button {
  cursor: pointer;
  border: none;
}

.ck .ck.ck-button.ck-on .ck.ck-icon,
.ck .ck.ck-button.ck-on .ck.ck-icon * {
  fill: var(--primary);
  border-radius: var(--ck-border-radius) !important;
}

.ck.ck-button.ck-on,
.ck.ck-button.ck-off {
  height: 24px;
  width: 24px;
  padding: 2px;
  border-radius: var(--ck-border-radius);
}
.ck.ck-link-actions {
  align-items: center;
}
.ck.ck-button.ck-off.ck-link-actions__preview {
  width: auto;
  height: auto;
}

.ck .ck.ck-icon,
.ck .ck.ck-icon * {
  color: #5e5e5e;
  border-radius: var(--ck-border-radius) !important;
}

.ck .ck.ck-button.ck-dropdown__button.ck-button_with-text {
  padding: var(--ck-spacing-tiny);
  padding-left: var(--ck-spacing-small);
}

.ck .ck.ck-dropdown__panel {
  border: none;
  border-radius: 8px;
}

.ck .ck.ck-dropdown.ck-heading-dropdown .ck-dropdown__button .ck-button__label {
  width: auto;
  line-height: 1;
}

.ck .ck.ck-dropdown.ck-heading-dropdown .ck-dropdown__panel .ck-list__item {
  min-width: 0;
}

.ck .ck.ck-dropdown.ck-heading-dropdown .ck-button__label {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.ck .ck-heading-dropdown>.ck.ck-button .ck-button__label {}

.ck.ck-dropdown__arrow {
  margin-left: 0 !important;
}

/* Fix tooltip misalignment  */
.ck .ck.ck-tooltip.ck-tooltip_s .ck-tooltip__text::after {
  top: calc(1px - var(--ck-tooltip-arrow-size));
}

.ck[dir='ltr'] .ck.ck-splitbutton.ck-splitbutton_open>.ck-splitbutton__action,
.ck[dir='ltr'] .ck.ck-splitbutton:hover>.ck-splitbutton__action {
  border-radius: var(--border-radius) 0 0 3px;
}

.ck[dir='ltr'] .ck.ck-splitbutton>.ck-splitbutton__action {
  border-radius: var(--border-radius);
}

.ck[dir='ltr'] .ck.ck-splitbutton>.ck-splitbutton__arrow {
  border-left: none;
}

.ck .ck.ck-balloon-panel {
  border: none;
}

.ck .ck.ck-balloon-panel.ck-toolbar-container {
  z-index: calc(var(--ck-z-modal) - 1);
  border: 1px solid #ebeaea;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.04), 0px 0px 8px rgba(0, 0, 0, 0.04),
    0px 0px 12px rgba(0, 0, 0, 0.02);
}

/* rich text style */
.ck-content {
  line-height: 24px;
  word-break: break-word;
}

.ck.ck-content * {
  margin: 0;
}

.ck.ck-content h1 {
  margin: 18px 0 8px;
  font-size: 18px;
  font-weight: 600;
}

.ck.ck-content h2 {
  margin: 16px 0 8px;
  font-size: 16px;
  font-weight: 600;
}

.ck.ck-content h3,
.ck.ck-content h4,
.ck.ck-content h5,
.ck.ck-content h6 {
  margin: 14px 0 4px;
  font-size: 14px;
  font-weight: 600;
}

.ck.ck-content a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.ck.ck-content a:hover {
  color: #7d8dff;
}

.ck.ck-content blockquote {
  margin: 8px 0;
  padding: 0 0 0 10px;
  color: #999;
  font-style: normal;
  border-left: 2px solid #7d8dff;
}

.ck.ck-content .image {
  margin: 1em 0;
}

.ck.ck-content .image>img {
  margin: 0 auto;
  min-width: 56px;
  min-height: 56px;
  object-fit: contain;
  box-shadow: 0 0 0 1px #ebeaea;
}

.ck.ck-content .media video {
  display: block;
  width: 100%;
}

.ck.ck-content li {
  position: relative;
}

.ck.ck-content ul {
  padding-left: 24px !important;
  list-style: none;
}

.ck.ck-content ul>li::before {
  content: '•';
  position: absolute;
  top: 0;
  left: -24px;
  min-width: 24px;
  text-align: center;
  color: var(--primary);
  font-family: PingFangSC-Regular, PingFang SC;
}

.ck.ck-content ul ul>li::before {
  content: '◦';
}

.ck.ck-content ul ul ul>li::before {
  content: '▪';
}

.ck.ck-content ol {
  padding-left: 24px !important;
  list-style: none;
  counter-reset: list;
}

.ck.ck-content ol>li {
  counter-increment: list;
}

.ck.ck-content ol>li::before {
  content: counter(list) '.';
  position: absolute;
  top: 0;
  left: -24px;
  min-width: 24px;
  text-align: center;
  color: var(--primary);
  font-family: Helvetica Neue, Consolas;
}

.ck.ck-content .todo-list {
  margin: 0 !important;
  padding-left: 24px !important;
}

.ck.ck-content .todo-list>li {
  margin-bottom: 0;
}

.ck.ck-content .todo-list>li::before {
  display: none;
}

.ck.ck-content .todo-list .todo-list__label>input {
  top: -1px;
  left: -24px;
  outline: none;
}

.ck.ck-content .todo-list .todo-list__label>input::before {
  border: 1px solid #bababa;
  box-shadow: none !important;
  border-radius: 4px;
}

.ck.ck-content .todo-list .todo-list__label>input::after {
  border: none !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(0);
}

.ck.ck-content .todo-list .todo-list__label>input[checked]::before {
  background: #fff;
  border-color: #bababa;
}

.ck.ck-content .todo-list .todo-list__label>input[checked]::after {
  background: center / 10px no-repeat url('data:image/svg+xml;utf8,<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 4L3.5 6.5L9 1" stroke="%233e60ea" stroke-width="2"/></svg>');
}

.ck.ck-content .mention {
  color: var(--primary);
  cursor: default;
}

/* hack: inline editor toolbar 初始化时位置错误 */
.ck.ck-balloon-panel.ck-toolbar-container[style='top: 0px; left: 0px;'] {
  visibility: hidden;
}

/* 任务弹窗 z-index 1300 造成编辑器工具栏无法显示 */
.ck-body-wrapper {
  position: relative;
  z-index: 1301;
}

.ck-content .image:not(.image_resized)>img {
  max-height: 400px;
}

.ck-content .image.image_resized>img {
  max-height: none;
}

.ck-content .image.image-style-align-left,
.ck-content .image.image-style-align-center,
.ck-content .image.image-style-align-right {
  max-width: 100%;
  float: none;
}

.ck-content .image.image-style-align-left {
  margin-right: auto;
}

.ck-content .image.image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}

.ck-content .image.image-style-align-right {
  margin-left: auto;
}

.ck-content .ck-widget_can-type-around_before {
  margin-top: 8px !important;
}

.ck-content .ck-widget_can-type-around_after {
  margin-bottom: 8px !important;
}

/* balloon  */
.ck .ck-balloon-rotator__content {
  position: relative;
}

.ck .ck-balloon-rotator__content::before {
  content: '';
  position: absolute;
  height: 16px;
  top: -10px;
  right: 0;
  left: 0;
}

.ck .ck-balloon-rotator__content::after {
  content: '';
  position: absolute;
  height: 16px;
  right: 0;
  bottom: -10px;
  left: 0;
}

.ck.ck-balloon-panel::after,
.ck.ck-balloon-panel::before {
  display: none;
}

/* image viewer */
.ck-image-viewer__button {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 26px;
  height: 26px;
  z-index: var(--ck-z-default);
  opacity: 0;
  background: center / 20px no-repeat var(--ck-color-toolbar-background) url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="%235e5e5e"/><path d="M12 10H10V12H9V10H7V9H9V7H10V9H12V10Z" fill="%235e5e5e"/></svg>');
  border: 1px solid var(--ck-color-toolbar-border);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.02), 0px 0px 8px rgba(0, 0, 0, 0.04),
    0px -4px 10px rgba(0, 0, 0, 0.04);
  border-radius: var(--ck-border-radius);
  cursor: pointer;
  transition: opacity var(--ck-widget-handler-animation-duration) var(--ck-widget-handler-animation-curve),
    background var(--ck-widget-handler-animation-duration) var(--ck-widget-handler-animation-curve);
}

.ck-image-viewer__button:hover {
  background-color: #f6f5f4;
}

.ck .ck-widget:hover .ck-image-viewer__button,
.ck-widget_selected .ck-image-viewer__button {
  opacity: 1;
}

.ck-blurred .ck-widget .ck-image-viewer__button {
  opacity: 0;
}

.image.ck-widget.ck-widget_selected img {
  cursor: zoom-in;
}

/* inline placeholder */

.ck.ck-content p.ck-inline-placeholder {
  position: relative;
}

.ck.ck-content p.ck-inline-placeholder::before {
  content: attr(data-inline-placeholder);
  color: var(--ck-color-engine-placeholder-text);
  cursor: default;
  pointer-events: none;
  position: absolute;
}

.ck.ck-content.ck-read-only p.ck-inline-placeholder::before {
  display: none;
}